@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
.app-header {
  height: 62px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
  z-index: inherit;
}

.app-icon-ball {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  background-color: black;
  margin-left: 1px;
  border-radius: 100px;
  cursor: pointer;
}

.app-icon-bars {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.app-icon {
  display: flex;
  flex-grow: 6;
}

.app-header h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-left: 1rem;
  color: black;
  font-family: 'Fugaz One', sans-serif;
}

.app-search {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.app-search input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 2rem;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  transition: all 2s;
}

.app-search input:focus {
  border: 1px solid #4285f4;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 0 1rem;
  cursor: pointer;
}

.nav-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0;
}
