.app-scraps {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 3rem;
  overflow: auto;
}

.app-scrap-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
}

.app-scrap-content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.google-icon {
  width: 3rem;
  height: 3rem;
  background-color: violet;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 725px;
  border-radius: 100px;
  cursor: pointer;
}

.app-scrap-input {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 2rem;
  background-color: white;
  padding: 0;
}

.input-header {
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 0;
}

.app-scrap-input textarea {
  width: 100%;
  height: 140px;
  border: none;
  resize: none;
  border-bottom: 1px solid#c4c4c4;
}

.input-footer {
  width: 100%;
  height: 10px;
}

.input-footer button {
  width: 10%;
  height: 30px;
  border: 3px solid #c4c4c4;
  background-color: #33ccff;
  border-radius: 20px;
  cursor: pointer;
}
