.app-scraps {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 3rem;
  overflow-y: scroll;
  z-index: inherit;
}

.app-scrap-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
}

.app-scrap-content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.app-scrap-input {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 2rem;
  background-color: white;
  padding: 0;
}

.app-scrap-input .user-input-icon {
  align-items: center;
  justify-content: left;
}

.input-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-input-icon {
  width: 3rem;
  height: 3rem;
  background-color: violet;
  display: flex;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  margin: 0 10px;
}

.app-scrap-input textarea {
  width: 100%;
  height: 65%;
  border: none;
  resize: none;
  border-bottom: 1px solid#c4c4c4;
  font-size: 1.5rem;
}

.app-scrap-input textarea:focus {
  outline: none;
}

.input-footer {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: right;
}

.icons {
  display: flex;
  flex-grow: 1;
}
.input-footer button {
  display: flex;
  width: 100px;
  height: 30px;
  border: 3px solid #c4c4c4;
  background-color: #33ccff;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
