.app-sidebar {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #c4c4c4;
  margin: 0;
  background-color: rgb(189, 216, 240);
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #c4c4c4 rgb(189, 216, 240);
  z-index: inherit;
}

.app-sidebar-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-bottom: #c4c4c4 2px solid;
}

.app-sidebar-header button {
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: 1.5rem;
  cursor: pointer;
  font: bold 1rem Arial;
  color: #0a1afa;
  transition: all 0.3s;
}

.app-sidebar-header button:hover {
  color: #3ea8ff;
  font-size: 2rem;
}

.app-sidebar-items {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.app-sidebar-item {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.8rem;
  cursor: pointer;
  border-bottom: 2px solid #c4c4c4;
  transition: all 0.3s;
}

.app-sidebar-item:hover {
  background-color: rgb(154, 204, 250);
}

.app-sidebar-item:hover .app-sidebar-item-delete {
  background-color: rgb(154, 204, 250);
}

.app-sidebar-items-row {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-sidebar-item-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background-color: rgb(189, 216, 240);
  overflow: hidden;
}

.app-sidebar-item-delete {
  height: 70%;
  display: flex;
  position: relative;
  left: 40px;
  align-items: center;
  font-size: 1rem;
  color: red;
  border: none;
  background-color: rgb(189, 216, 240);
  transition: all 0.3s;
  margin: 0;
  padding: 0;
}

.app-sidebar-item-delete:hover {
  background-color: rgb(154, 204, 250);
}

.app-sidebar-item-delete:hover + .app-sidebar-item:hover {
  background-color: rgb(154, 204, 250);
}

.app-sidebar-item-content {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.app-sidebar-item small {
  display: flex;
  height: 10%;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
  color: #888888;
  padding-left: 1rem;
}
