.app-sidebar {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #c4c4c4;
  margin: 0;
  background-color: rgb(189, 216, 240);
}

.app-sidebar-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-bottom: #c4c4c4 2px solid;
}

.app-sidebar-header button {
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: 1.5rem;
  cursor: pointer;
  font: bold 1rem Arial;
  color: #0a1afa;
  transition: all 0.3s;
}

.app-sidebar-header button:hover {
  color: #3ea8ff;
}

.app-sidebar-items {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.app-sidebar-item {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 2px solid #c4c4c4;
  transition: all 0.3s;
}

.app-sidebar-item:hover {
  background-color: rgb(154, 204, 250);
}

.app-sidebar-items-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-sidebar-item-title {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background-color: rgb(189, 216, 240);
}

.app-sidebar-item-delete {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border: none;
  background-color: rgb(189, 216, 240);
}

.app-sidebar-item-content {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.app-sidebar-item small {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
  color: #888888;
  padding-left: 1rem;
}
